notebook==6.5.1

pandas==1.5.1

seaborn==0.11.2

matplotlib==3.5.1

numpy==1.23.4

nltk==3.7

emoji==2.2.0

git+https://github.com/Desklop/Uk_Stemmer

transliterate==1.10.2

requests==2.27.1

pymorphy2==0.9.1

holidays==0.17.2